/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: sans-serif;
  background-color: #292929;
}

.custom-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.text-white,
.text-light {
  color: #fff !important;
}
